<form action="/result" method="POST">
    <label for="name">Name : </label>
    <input type="text" name="name">
    <br>
    <label for="city">City : </label>
    <input type="text" name="city">
    <br>
    <label for="age">Age : </label>
    <input type="number" name="age">
    <br>
    <label for="phone">Phone : </label>
    <input type="number" name="phone">
    <br>
    <button type="submit">Submit</button>
</form>